h2
{
    border-bottom:1px solid #CCC;
    padding-bottom:5px;
    padding-top:15px;
}

h1 {
    text-align: center;
    font-size: 60px;
    font-weight: 300;
    padding-top:15px;
}

h3 {
    font-size: 30px;
    padding-top:10px;
}

h4 {
    font-size: 25px;
    padding-top:10px;
}


div.col-md-9 h1:first-of-type {
    text-align: center;
    font-size: 60px;
    font-weight: 300;
}

div.col-md-9>p:first-of-type {
    text-align: center;
}

div.col-md-9 p.admonition-title:first-of-type {
    text-align: left;
}

div.col-md-9 h1:first-of-type .headerlink {
    display: none;
}

code.no-highlight {
    color: black;
}

div.gh-badge img {
	margin: 0;
	padding: 0;
	height: 25px;
}

a.donate-badge img {
	margin-top: 10;
	margin-bottom: 0;
	padding: 0;
	height: 35px;
}

/* Definition List styles */

dd {
    padding-left: 20px;
}

/* Homepage */

body.homepage div.jumbotron {
    margin-top: 1.5rem;
    padding-top: 1rem;
    padding-bottom: 0;
}

body.homepage div.jumbotron div.card {
    margin-bottom: 2rem;
}

body.homepage>div.container div.col-md-3 {
    display: none;
}

body.homepage>div.container div.col-md-9 {
    margin-left: 0;
    padding-left: 0;
    flex: 0 0 100%;
    max-width: 100%;
}

.center {
    display: block !important;
}

.bg-primary {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#996FC2), color-stop(60%, #6A478D), to(#5E5086)) !important;
    background-image: linear-gradient(#996FC2, #6A478D 60%, #5E5086) !important;
    background-repeat: no-repeat !important;
}

.btn-primary {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#996FC2), color-stop(60%, #6A478D), to(#5E5086)) !important;
    background-image: linear-gradient(#996FC2, #6A478D 60%, #5E5086) !important;
    background-repeat: no-repeat !important;

    color: #fff;
    background-color: #996FC1;
    border-color: #996FC1;

	border-bottom: 1px solid #453A62;
}

.navbar {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#996FC2), color-stop(60%, #6A478D), to(#5E5086)) !important;
    background-image: linear-gradient(#996FC2, #6A478D 60%, #5E5086) !important;
    background-repeat: no-repeat !important;

    color: #fff;
    background-color: #996FC1;
    border-color: #996FC1;

	border-bottom: 1px solid #453A62;
}

a {
	color: #996FC2;
}

a:hover {
	color: #674489;
}

.col-md-9 img.main-logo {
    border: 0px; 
	padding: 0px;
	margin: 0px;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
    color: #fff;
    background-color: #453A62;
    border-color: #996FC1;
}

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
    color: #fff;
    background-color: #453A62;
}

.main-buttons {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: center;
}

.main-buttons a {
	margin-right: 5px;
	margin-bottom: 5px;
}

.command-button {
	display: flex;
	align-items: center;
}

.command-button > pre {
    background-color: #515151;
    color: white;
    margin: auto;
	margin-top: 0px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-right: 1rem;
    text-align: center;
    border-radius: 3px;
    box-shadow: inset 0px 0px 20px 0px #333333;
    font-size: 1em;
    width: 55rem;
	overflow: auto;
	white-space: nowrap;
}

.ghcup-command:before {
    color: #999;
    content: " $ ";
	margin-left: 15px;
}

div.command-button {
	display: flex;
	align-items: center;
}

div.command-button button {
	color: #515151;
	/* border: none; */
	background: rgb(230, 230, 230);
	border-width: 2px !important;
	border-style: solid !important;
	border-radius: 3px !important;
	border: grey;

    margin-left: 0.5rem !important;
    margin-right: auto !important;
    text-align: center !important;

	padding: 18px;
	padding-bottom: 16px;
}

div.command-button button .fa {
	font-size: x-large;
}

div.command-button button:hover {
	background: rgb(220, 220, 220);
	color: black;
	border: black;
}

div.command-button button:focus {
	color: green;
}
