:root {
  --theme-purple: #5E5184;
  --theme-purple-dark: rgba(69, 59, 97, 0.5);
  --ukraine-top: #0057B8;
  --ukraine-bottom: #FFD700;
  --link-pink: #9E358F;
}

h2
{
  border-bottom:1px solid #CCC;
  padding-bottom:5px;
  padding-top:15px;
}

h1 {
  text-align: center;
  font-size: 60px;
  font-weight: 300;
  padding-top:15px;
}

h3 {
  font-size: 30px;
  padding-top:10px;
}

h4 {
  font-size: 25px;
  padding-top:10px;
}

.index-ghcup-hero {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.index-ghcup-hero img {
  width: 10%;
  min-width: 110px;
  max-width: 120px;
  border: none;
  margin: 0;
}

.index-ghcup-hero h1 {
}

div.col-md-9 h1:first-of-type {
  text-align: center;
  font-size: 60px;
  font-weight: 300;
}

div.col-md-9>p:first-of-type {
  text-align: center;
}

div.col-md-9 p.admonition-title:first-of-type {
  text-align: left;
}

div.col-md-9 h1:first-of-type .headerlink {
  display: none;
}

code.no-highlight {
  color: black;
}

div.gh-badge img {
  margin: 0;
  padding: 0;
  height: 25px;
}

/* Definition List styles */

dd {
  padding-left: 20px;
}

/* Homepage */

body.homepage div.jumbotron {
  margin-top: 1.5rem;
  padding-top: 1rem;
  padding-bottom: 0;
}

body.homepage div.jumbotron div.card {
  margin-bottom: 2rem;
}

body.homepage>div.container div.col-md-3 {
  display: none;
}

body.homepage>div.container div.col-md-9 {
  /* margin-left: 0; */
  /* padding-left: 0; */
  flex: 0 0 100%;
  max-width: 100%;
}

.center {
  display: block !important;
}

.bg-primary {
  background-image: none;
  background-color: var(--ukraine-top) !important;
}

body .bg-primary {
  background-image: none;
  background-color: var(--ukraine-top);
  border: 0px;
}

body .btn-primary {
  background-image: none;
  background-color: var(--theme-purple);
  border: 1px solid var(--theme-purple);
}

.navbar.fixed-top {
  background-image: none;
  background-color: var(--ukraine-top);
  border-bottom: 40px solid var(--ukraine-bottom);
  padding: 0px;
}

.btn-primary:hover {
  background-color: var(--theme-purple);
  border: 1px solid var(--theme-purple);
}

a {
  color: var(--link-pink);
}

a:hover {
  color: #996FC2;
}

#toc-collapse a.nav-link {
  color: var(--link-pink);
}

#toc-collapse a:hover.nav-link {
  color: #996FC2;
}

.col-md-9 img.main-logo {
  border: 0px;
  padding: 0px;
  margin: 0px;
}

.ghcup-intro {
  text-align: center;
}

.main-buttons {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.main-buttons a {
  margin-right: 5px;
  margin-bottom: 5px;
}

.command-button {
  display: flex;
  align-items: center;
}

.command-button > pre {
  flex: 0 1 80%;
  margin: 0;
  padding: 10px;
  text-align: center;
  background-color: #515151;
  color: white;
  border-radius: 3px;
  box-shadow: inset 0px 0px 20px 0px #333333;
  font-size: 1em;
  white-space: nowrap;
  overflow: auto;
}

.ghcup-command:before {
  color: #999;
  content: " $ ";
  margin-left: 15px;
}

div.command-button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.command-button pre {

}

div.command-button button {
  color: #515151;
  background: rgb(230, 230, 230);
  border: 1px solid grey;
  margin: 0 0 0 10px;
  padding: 10px;
  flex-basis: 0 0 20%;
}

div.command-button button .fa {
  font-size: x-large;
}

div.command-button button:hover {
  background: rgb(220, 220, 220);
  color: black;
  border: 1px solid black;
}

div.command-button button:focus {
  background-color: #04aa6d;
}

footer > hr {
  border-top: 0.5px solid #CCC;
}

.qi-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  padding: 0.75rem;
  background-color: rgb(250, 250, 250);
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-left: auto;
  margin-right: auto;
  border-radius: 3px;
  border: 1px solid rgb(204, 204, 204);
  box-shadow:
    4px 8px 10px -6px rgb(204, 204, 204),
    4px 8px 10px -6px rgb(153, 111, 194);
}

@media only screen and (max-width:1000px) {
  .qi-container {
    box-shadow:
      4px 10px 10px -6px rgb(204, 204, 204),
      4px 10px 10px -9px rgb(153, 111, 194);
  }
}

.index-cta-donate .donate-button a {
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}

.index-cta-donate .donate-button {
  margin: 10px auto;
  position: relative;
  display: block;
  background: none;
  padding: none;
  border: none;
  background: url("https://opencollective.com/webpack/donate/button@2x.png?color=blue");
  width: 35%;
  min-width: 240px;
  max-width: 280px;
  height: 40px;
  background-size: contain;
  background-repeat: no-repeat;
}

.ghcup-os-container {
  width: 100%;
  margin: 10px 0;
}
.ghcup-os-container > * {
  text-align: center;
}

/* fix list overflows (esp about page) */
ul > li {
  overflow-wrap: anywhere;
}


.footer {
  color: grey;
  font-size: 0.7em;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.footer div.show-all-platforms {
  display: inline-block;
}

#help, #collective {
  display: block;
  text-align: center;
}

#help img {
  border: none;
  margin: 0px;
  height: 24px;
}

.ghcup-help {
  margin: 10px auto;
  padding: 10px 0;
  box-sizing: border-box;
}

#collective img {
  border: none;
  margin: 0px;
}

#collective {
  margin-top: 10px;
}

