name: Test cabal.project files

on:
  push:
    branches:
      - master
    tags:
      - 'v*'
  pull_request:
    branches:
      - master
  schedule:
    - cron: '0 2 * * *'

jobs:
  build:
    name: Build binary
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [macOS-13, windows-latest, ubuntu-latest]
        ghc: ["8.10.7", "9.0.2", "9.2.8", "9.4.8", "9.6.6", "9.8.4", "9.10.1"]
        include:
          - os: macOS-latest
            ghc: "9.2.8"
          - os: macOS-latest
            ghc: "9.4.8"
          - os: macOS-latest
            ghc: "9.6.6"
          - os: macOS-latest
            ghc: "9.8.4"
          - os: macOS-latest
            ghc: "9.10.1"
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          submodules: 'true'

      - name: Run build
        run: |
          env
          curl --proto '=https' --tlsv1.2 -sSf https://get-ghcup.haskell.org | BOOTSTRAP_HASKELL_MINIMAL=1 BOOTSTRAP_HASKELL_NONINTERACTIVE=1 sh
          [ -e ~/.ghcup/env ] && source ~/.ghcup/env
          ghcup --version
          ghcup run -i --cabal latest --ghc ${GHC_VER} -- cabal update
          ghcup run -i --cabal latest --ghc ${GHC_VER} -- cabal build -w ghc-${GHC_VER}
        env:
          GHC_VER: ${{ matrix.ghc }}
        shell: bash

